<!DOCTYPE html>
<html lang="en">
<head>

    <script src="../static/bootstrap/bootstrap.min-3.3.7.js"></script>
    <script src="../static/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
</head>
<body>
<div class="container" align="center" >
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Employee Form</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="id">ID:</label>
                <div class="col-md-4">
                    <input id="id" name="id" type="text" placeholder="" class="form-control input-md">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name</label>
                <div class="col-md-4">
                    <input id="name" name="name" type="text" placeholder="" class="form-control input-md">
                </div>
            </div>

            <!-- Multiple Radios (inline) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="gender">Gender</label>
                <div class="col-md-4">
                    <label class="radio-inline" for="gender-0">
                        <input type="radio" name="gender" id="gender-0" value="" checked="checked">
                        Male
                    </label>
                    <label class="radio-inline" for="gender-1">
                        <input type="radio" name="gender" id="gender-1" value="">
                        Female
                    </label>
                    <label class="radio-inline" for="gender-2">
                        <input type="radio" name="gender" id="gender-2" value="">
                        Others
                    </label>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phoneNo">Phone No.:</label>
                <div class="col-md-4">
                    <input id="phoneNo" name="phoneNo" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="address">Address:</label>
                <div class="col-md-4">
                    <input id="address" name="address" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-danger">Submit</button>
                </div>
            </div>

        </fieldset>

    </form>
</div>

</body>
</html>